.sidenav {
    background-color: #9295a5;
    
    width: 200px;
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-right: 15px;
}
.content {
    padding: 16px;
    background-color: #FFF;
    
}